*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* Home Page */

.nav-text{
    text-shadow: 3px 5px 10px rgba(7, 176, 243, 0.8);
}
.nav-text:hover{
    text-shadow: 3px 5px 10px rgba(113, 7, 243, 0.8);
}
.myname, .mytitle{
    color: #f2f2f3;
    text-shadow: 0 0 10px rgba(7, 219, 243, 0.8);
}
.mytitle{
    text-shadow: 3px 5px 10px rgba(113, 7, 243, 0.8);
}
.download-cv{
    box-shadow: 2px 5px 10px rgba(107, 106, 109, 0.8);
}
.download-cv:hover{
    background-color: rgb(41, 40, 43);
    color: white;
    box-shadow: 2px 5px 10px rgba(107, 106, 109, 0.8);
}

        /* About Page */

/* My photo */

.myphoto {
    width: 100%; 
}

@media (min-width: 992px) { 
.myphoto {
    width: 50%;
}
}
/* Accordion style */
.accordion-button {
    background-color:#212529; /* Light gray background */
    color: white;
    border: 1px solid #ddd; 
}

/* Change background color of accordion header on hover */
.accordion-button:hover {
    background-color: #efecec;
    color: black;
}
.accordion-button:focus {
    box-shadow: 2px 2px 10px #eae8e8;
}

/* Change background color of active accordion header */
.accordion-button:not(.collapsed) {
    background-color:#424243; 
    color: white;
}

/* Change border color of accordion header */
.accordion-button {
    border-color: rgba(241, 243, 244, 0.8); 
}

        /* Skills */
/* .skill-container{
    background-color: #c5c1c1;
} */


